.form-control{
  
padding: 10px;
}


.nav-prop{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 70px;

}

.nav-el-prop{
    margin-top: 10px;
}


.img-settings-prop{
    margin-left: 43%;
}